* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px dashed; */
}

/* #region Color Palette */
:root {
    --boolz-background-primary: #009688;
    --boolz-background-secondary: #DADBD3;
    --boolz-header: #EAEAEA;
    --boolz-header-txt: #B1B1B1;
    --boolz-footer: #F3EEEA;
    --boolz-footer-txt: #6B7376;
    --boolz-select: #8EDAFC;
    --boolz-pop: #D5F9BA;
}

/* #region Color Palette */

/* #region Common */
body {
    font-family: 'Lato', sans-serif;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    object-fit: cover;
}

/* #endregion Common */

/* #region Utilities */
.d-flex {
    display: flex;
}

.user {
    width: 3rem;
    aspect-ratio: 1;

    & img {
        border-radius: 50%;
    }

    ;
}

/* #endregion Utilities */

/* #region Debug */

.debug .right {
    background-color: purple;
}

/* .debug .right-header{
    & .contact{
        background-color: yellow;
    }
    & .tools{
        background-color: yellowgreen;
        
    }
} */

.debug .right-footer {
    background-color: brown;
}

/* #endregion Debug */

.wrapper {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: linear-gradient(var(--boolz-background-primary) 10%, var(--boolz-background-secondary) 10%);
    justify-content: center;
    align-items: center;
}

.site-container {
    height: 95%;
    width: 80%;
    max-width: 1200px;

    &>.left {
        flex-basis: 26rem;
        height: 100%;
    }

    &>.right {
        flex-grow: 1;
    }
}

/* #region Left section*/

/*#region Left Header */
.left-header {
    background-color: var(--boolz-header);
    height: 5.2rem;
    padding: 1rem;

    & .profile {
        width: 3rem;

        & img {
            border-radius: 50%;
        }
    }

    & .tools {
        flex-grow: 1;
        text-align: end;
        justify-content: flex-end;
        align-items: center;
        font-size: x-large;
        color: var(--boolz-header-txt);

        & * {
            padding: 0 0.3rem;
        }
    }
}

/*#endregion Left Header */

/* #region Left Main */
.left-main {
    flex-direction: column;
    height: 100%;
}

.notification {
    background-color: var(--boolz-select);
    height: 5.2rem;
    padding: 1rem;
    align-items: center;

    & div:first-child {
        flex-basis: content;
        aspect-ratio: 1;
        border-radius: 50%;
        font-size: x-large;
        color: var(--boolz-select);
        padding: 0.7rem;
        background-color: white;
    }

    & div:last-child {
        padding-left: 1rem;

        & span {
            color: var(--boolz-footer-txt);
            text-decoration: underline;
        }
    }
}

.search {
    background-color: var(--boolz-footer);
    height: 4rem;
    padding: 0.5rem;
    align-items: center;

    &>div {
        padding: 0.5rem;
        background-color: white;
        width: 100%;

        & i {
            font-size: larger;
            color: var(--boolz-header-txt);
            padding: 0 1rem;
        }

        & input {
            border: none;
            flex-grow: 1;
        }
    }
}

.contacts {
    background-color: white;
    flex-basis: calc(100% - 14.4rem);
    overflow-y: auto;

    & li {
        height: 5.2rem;
        padding: 1rem;
        border-bottom: 1px solid var(--boolz-header-txt);


        & .info-user {
            padding-left: 1rem;
            flex-grow: 1;
            justify-content: space-between;

            >.name {
                align-self: center;

                & h3 {
                    padding-bottom: 0.3rem;
                }
            }

            & span {
                color: var(--boolz-header-txt);
            }
        }
    }
}

/* #endregion Left Main */

/* #endregion Left section*/

/* #region Right section */
.right {
    flex-direction: column;
}

.right-header {
    height: 5.2rem;
    background-color: var(--boolz-header);
    padding: 1rem;
    align-items: center;

    & .contact {
        width: 18rem;
        align-items: center;

        >.user {
            width: 3rem;
        }

        >.info-user {
            flex-grow: 1;
            padding-left: 1rem;
        }

        & span {
            color: var(--boolz-header-txt);
        }
    }

    .tools {
        flex-grow: 1;
        font-size: x-large;
        color: var(--boolz-header-txt);
        justify-content: flex-end;
        
        &  *{
            padding: 0 0.3rem;
        }
    }
}

.right-main {
    flex-basis: calc(100% - 6rem);
    overflow-y: auto;
}

.right-footer {
    height: 3rem;
}

.chat-container {
    width: 90%;
    margin: 0 auto;
    padding: 1rem 0;
    flex-direction: column;

    & div {
        width: 17rem;
        margin: 1rem 0;
        background-color: peru;
    }

    & div:first-child {
        align-self: flex-end;
        background-color: var(--boolz-pop);
    }
}

/* #endregion Right section */

/* #region RESPONSIVE */
@media screen and (max-width:991px) {
    .site-container {
        width: 100%;
        height: 100%;

        &>.left {
            flex-basis: content;

            .contacts {
                flex-basis: calc(100% - 5.2rem);
            }
        }

        &>.right {
            flex-basis: calc(100% - 3rem);
        }
    }

    .left .tools,
    .notification,
    .search,
    .contacts .info-user {
        display: none;
    }
}

@media screen and (max-width:540px) {
    .site-container {
        &>.left {
            display: none;
        }

        &>.right {
            flex-basis: 100%;
        }
    }

    .right .tools {
        display: none;
    }
}

/* #endregion RESPONSIVE */